# Ignore all files in data folder
data/
# Allow album_data.json to be tracked
!woodtableguy/wtg/wtg/data/
!woodtableguy/wtg/wtg/data/album_data.json
# Ignore all files in logs folder
logs/

# Ignore env files
.env
.env.*

# Optional useful ignores
*.log
__pycache__/
*.pyc
.history/
.vscode/